body{
	display: flex;
	flex-direction: column;
	align-items: center;
	font: normal Arial;
	background: #e57000;
}
h1{
	color: #fff;
}
section{
	display: flex;
	flex-direction: column;
	align-items: center;
	background: #fff;
	width: 500px;
	padding: 10px;
	border-radius: 5%;
	box-shadow: 5px 5px 8px rgba(0, 0, 0, .5);

}
#tempo{
	margin-left: 48px;
}
footer{
	font-style: italic;
	color: #fff;
}
